patLog.json
[{"id":"a872e690.dc5c98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7d087e92.084aa8","type":"orion_rx","z":"a872e690.dc5c98","name":"hackathon","orion_config":"3ddbeb40.c3b7bc","x":177,"y":260,"wires":[[]]},{"id":"5c383294.8dfff4","type":"debug","z":"a872e690.dc5c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":607,"y":380,"wires":[]},{"id":"59d24acf.3d90cc","type":"orion_rx","z":"a872e690.dc5c98","name":"","orion_config":"db48048c.611ab","x":147,"y":320,"wires":[["86cc70b8.a217b8"]]},{"id":"86cc70b8.a217b8","type":"orion_decode","z":"a872e690.dc5c98","name":"","x":257,"y":420,"wires":[["697da9e2.3cc9a8"]],"inputLabels":["msg.media"],"outputLabels":["msg.media_wav"]},{"id":"c3fa3dc3.8d13b8","type":"watson-speech-to-text","z":"a872e690.dc5c98","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"","password":"LKCAqmpsXj2N","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":419,"y":512,"wires":[["5c383294.8dfff4","a9d70f35.576e18","6603e6b.6a31698","805b241e.0a1d5"]]},{"id":"697da9e2.3cc9a8","type":"change","z":"a872e690.dc5c98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"media_wav","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":197,"y":480,"wires":[["c3fa3dc3.8d13b8"]]},{"id":"6603e6b.6a31698","type":"debug","z":"a872e690.dc5c98","name":"speaker","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"sender_name","x":607,"y":520,"wires":[]},{"id":"a9d70f35.576e18","type":"debug","z":"a872e690.dc5c98","name":"text","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","x":617,"y":460,"wires":[]},{"id":"7ca33f81.de3fc","type":"natural-language-understanding","z":"a872e690.dc5c98","name":"","categories":false,"concepts":false,"maxconcepts":"8","doc-emotion":true,"doc-emotion-target":"pain, anxiety","doc-sentiment":true,"doc-sentiment-target":"pain, anxiety, mortality","entity":true,"entity-emotion":false,"entity-sentiment":false,"maxentities":"50","keyword":true,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/natural-language-understanding/api","x":515.5,"y":158,"wires":[["b1cc15ed.08ea48"]]},{"id":"805b241e.0a1d5","type":"change","z":"a872e690.dc5c98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":436.5,"y":302,"wires":[["7ca33f81.de3fc","df4db482.e75c9"]]},{"id":"df4db482.e75c9","type":"debug","z":"a872e690.dc5c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":597.5,"y":238,"wires":[]},{"id":"b1cc15ed.08ea48","type":"debug","z":"a872e690.dc5c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"features","x":566.5,"y":106,"wires":[]},{"id":"3ddbeb40.c3b7bc","type":"orion_config","z":"","group":"d177052fec7b4dfa90920452e91d79a8","name":""},{"id":"db48048c.611ab","type":"orion_config","z":"","group":"23c967062afa498e86a7c947ea1c8366","name":"watson"}]
